*{
	margin:0;
	padding: 0;
}

table {
    margin: auto;
    width: 303px;
}

td {
    padding: 10px;
}

a.news {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border-bottom: 1px dotted;
    color: #4a0000;
}

a.coupon {
    display: inline-block;
    margin-top: 20px;
    border-bottom: 1px dotted;
    color: #4a0000;
}

a.label {
    display: inline-block;
    padding: 5px;
    margin-top: 13px;
    margin-left: 18px;
    background-color: red;
    color: white;
    box-shadow: 4px 3px cadetblue;
    text-decoration: none !important;
    float: left;
}

h4.sale-hot {
    background-image: url('../images/board.jpg');
    border-radius: 10px 10px 10px 10px;
    color: rgb(255, 14, 14);
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 319px 71px;
    margin-top: 5px;
    text-shadow: 3px 3px 1px #170a0a;
}

.sale1,.sale2,.sale3,.sale4{
    border: 1px solid rgba(255, 255, 255, 0.22);
    border-radius: 6px;
    box-shadow: 5px 5px 29px;
    background-color: rgba(16, 128, 87, 0.08);
    padding-bottom: 10px;
    margin-top: 15px;
}

.find{
    padding-bottom: 10px;
    margin-top: 15px;
}