*{
	margin: 0px;
	padding: 0px;
}

div#header {
    height: 100px;
    background-color: aqua;
}

div#content {
    height: 400px;
}

div#content .col-8 {
    background-color: #850bc7;
    height: 400px;
}

div#footer {
    height: 100px;
    background-color: chocolate;
}

div#content .col-4 {
    height: 400px;
    background-color: chartreuse;
}